<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de familiares</h1>


        {% for familiar in Familia %}
        
            <p>Nombre: {{familiar.nombre}} </p>
            <p>Año nacimiento: {{familiar.anio_nacimiento}} </p>
            {%if familiar.casado == True %}
                <p>Es casado/a</p>
            {% else %}
                <p>No es casado/a</p>
            {% endif %}


            
        
        {% endfor %}
</body>
</html>